@import url('https://fonts.googleapis.com/css?family=Righteous');

        #nav {
            width: 100%;
            height: 20%;
            border-color: black;
            border-style: solid;
            border-width: 2px;
            text-align: center;
            
            display: flex;
            top: 0;
            float: none;
        }
        
         #nav > button {
            color:#222222;
            background-color:#4FA5DE;
            font-family: 'Righteous', cursive;
            font-size: 2em;
            text-align: center;
            width: calc(100% / 6);
        }