 .Button{
            text-align: center;
            font-size: 65px;
            
        }
        
        .paymentButton{
            width: 50%;
            border: none;
            float: left;
            margin: 0px;
            background-color: #22B14C;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            font-size: 110px;
        }
        
        .backButton{
            width: 50%;
            border: none;
            float: left;
            margin: 0px;
            background-color: #ED1C24;
            text-align: center;
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            font-size: 110px;
        }
        
        #productDetail{
            font-size: 60px;
            margin: 30px;
        }
        
        
        #button{
            display: block;
            border: none;
            outline:none;
        }